body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Helvetica, sans-serif;
}

.parteInicial {
    background-color: black;
    color: white;
}

.parteEsquerda img {
    height: 750px;
}

.parteDireita {
    display: flex;
    flex-direction: column;

}

.titulo {
    margin-top: 15px;
    font-size: 140px;
    line-height: 130px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.subtitulo {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btnReadMore {
    background-color: white;
    margin-top: 40px;
    padding: 15px;
    border: none;
    border-radius: 47px;
    height: 70px;
    width: 350px;
    font-size: 20px;

}

.nomeEmpresa {
    background-color: white;
    color: black;
    padding: 10px;
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
}

.nomeEmpresa img {
    margin-bottom: 5px;
    width: 35px;
}

.clientes {
    padding: 20px;
    background-color: #f9f9f9;
}


.whyclient {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
}


.whyclient h1 {
    font-size: 150px;
    margin: 0;
    line-height: 140px;
}


.whyclient img {
    max-width: 100%;
    height: auto;
    display: block;
}


.comentarios {
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.comentario {
    margin-bottom: 20px;
    border: solid 2px rgb(59, 58, 58);
    width: 500px; 
    padding: 10px; 
    align-items: center;
    box-sizing: border-box; 
}

.text {
    display: flex;
    justify-content: center;
    font-size: 22px; 
    line-height: 1.5; 
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.comentario hr {
    border: solid 1px black;
    width: 65%; 
}

.perfil p {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.perfil img {
    border-radius: 50%;
    width: 80px; 
    height: 80px;
    margin-right: 15px; 
}
.namePerson{
    font-size: 23px;
}
.subName {
    font-style: italic;
    font-size: 23px; 
}

.pessoa {
    display: block;
    line-height: 5px; 
}

.nomeEmpresaFinal{
    background-color: white;
    color: black;
    padding: 10px;
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
}

.parteDireitaFinal h1{
    font-size: 140px;
    line-height: 130px;
    
}
.parteDireitaFinal{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
